


.calculator {
    max-width: 100%;
    background-color: #fff;
    padding: 60px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

form .form-group {
	position: relative;
}
label {
	display: inline-block;
	margin-bottom: .5rem;
}



.form-control {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #777;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border-radius: 0;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea {
	-webkit-appearance: none;
}
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea, select, .form-control {
	border: 1px solid;
	outline: none;
	box-shadow: none;
	text-align: left;
	line-height: 1.42857;
	padding: 8px 12px;
	font-size: .85rem;
	vertical-align: middle;
	height: auto;
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], textarea, .form-control, select {
	background-color: #fff;
	color: #777;
	border-color: rgba(0,0,0,.09);
}



.form-group::after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}   

.input-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2vh;
}
[hidden] {
    display: none !important;
}
.form-group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}







h1 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

.input-group,
.result-group {
    margin-bottom: 20px;
}

.input-group label,
.result-item label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
input[type="text"],
.select-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

#property-cost-value {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

.result-item {
    margin-bottom: 10px;
}

.result-item p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}


.noUi-horizontal {
    height: 10px;

}

#rangeSlider {
    height: 10px;
}

#rangeSlider .noUi-connects {
    background: #D87C37;
}

#rangeSlider .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
}


.noUi-handle {
    width: 20px; /* или любое другое значение, чтобы сделать его круглым */
    height: 20px; /* или любое другое значение, чтобы сделать его круглым */
    border: none;
    background-color: white;
    box-shadow: none;
    border-radius: 50%;
    top: -8px; /* подгоняем ползунок к центру дорожки */
}

.noUi-active {
    box-shadow: none;
}

.noUi-touch-area {
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.select-box {
    display: flex;
    flex-direction: column;
}

.noUi-handle:after, .noUi-handle:before {
	display: none;
}
.margin-bottom-5 {
	margin-bottom: 50px;
}
.margin-bottom-4 {
	margin-bottom: 40px;
}
.margin-bottom-3 {
	margin-bottom: 30px;
}
.text-center{
	text-align: center;
}
.small {
	font-size: 14px;
}
.result-item {
	text-align: center;
}
#calculate {
	display: inline-block;
	width: auto;
	padding: 8px 42px;

}